<section class="hero is-fullheight has-background-black">
	<div class="hero-body">
		<div class="container">
			<nav class="level">
				<div class="level-item has-text-centered">
					<figure class="image is-128x128">
						<img src="assets/images/logo_emptied.png">
					</figure>
				</div>
				<div class="level-item has-text-centered">
					<div class="buttons">
						<ng-container *ngFor="let concept of concepts">
							<a class="button is-info is-fullwidth">{{ concept.name }}</a><br>
							<ng-container *ngFor="let parent of concept.parents">
								<a class="button is-danger">{{ parent.name }}</a>
							</ng-container>
						</ng-container><br/><br/>
					</div>
				</div>
			</nav>
		</div>
	</div>
</section>
<!--<section class="hero is-fullheight has-background-black">
	<div class="hero-body">
		<div class="container">
			<ng-container *ngFor="let room of rooms">
				<a class="button is-grey is-normal is-fullwidth">{{room.name}}</a>
			</ng-container>
		</div>
	</div>
</section>-->